/*
    Posicionamiento (position, top, right, bottom, left, z-index)
    Composición (float, display, clear, display, box-sizing, visibility, overflow, clip)
    Modelo de caja (width, height, margin, padding)
    Contenidos especiales (list, table, quotes, content, counter)
    Tipografía y texto (font, text-align, text-transform)
    Color y apariencia (outline, color, background, border)
    Efectos visuales (box-shadow, text-shadow, transform, transition)
    Miscelánea (opacity, cursor, filters)
    Impresión (page-break, orphans, widows)
*/

@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
html{
    overflow: hidden;
}
body{
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}
.radar, .sweep { position: relative; }
.radar {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  /* background: 
    repeating-radial-gradient(transparent, transparent 23px, #287a33 25px, #287a33 27px), 
    linear-gradient(transparent 49.75%, #0e4c42 49.75%, #0e4c42 50.25%, transparent 50.25%) 50% no-repeat,
    linear-gradient(90deg, transparent 49.75%, #0e4c42 49.75%, #0e4c42 50.25%, transparent 50.25%) 50% no-repeat,
    linear-gradient(#202020, #111); */
    background: repeating-radial-gradient(circle at 50% 86.5vh, #24a533, #24a533 3.5px, #1a1a19 5px, #1a1a19 10%);;
    /* background-size: 100%, 218px 218px, 218px 218px, 100%; */
}
.startButton,.stopButton{
    z-index: 1;
    position: absolute;
    width: 169px;
    height: fit-content;
    padding: .5em;
    align-self: flex-end;
    margin-bottom: 8vh;
    border: none;
    border-radius: 1em;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Kanit', sans-serif;
    outline: none;
    cursor: pointer;
    transition: .5s ease;
}
.startButton{
    background-color: #4dd85e;
    color: #000501;
}
.startButton:hover{
    background-color: #4dd85d7e;
}

.stopButton{
    display: none;
    background-color: #b90000;
    color: #e2d5d5;
}

.stopButton:hover{
    background-color: #b900009d;
}
.sweep, .angleSweep, .objectSweep{
    box-sizing: border-box;
    position: absolute;
    bottom: 13.5vh;
    height: 42vw;
    transform-origin: 100% 100%;
}

.objectSweep{
    width: 1px;
    animation: fade-out;
    animation-duration: 4s;
    opacity: 0;
    background: linear-gradient(0deg, rgba(0,255,12,1) 100%, rgba(245,0,0,1) 100%);
}

.angleSweep{
    width: 1px;
    background-color: #24a533;
    /* background: linear-gradient(93deg, rgba(245,0,0,1) 70%, rgba(0,255,12,1) 30%); */
}
.angleSweep span{
    margin-left: .5em;
    font-size: 1.2em;
    color: #24a533;
}
.angleSweep:nth-of-type(1){
    bottom: 13.8vh;
    transform: rotate(-90deg);
}
.angleSweep:nth-of-type(2){
    transform: rotate(-60deg);
}
.angleSweep:nth-of-type(3){
    transform: rotate(-30deg);
}
.angleSweep:nth-of-type(4){
    transform: rotate(0deg); 
}
.angleSweep:nth-of-type(5){
    transform: rotate(30deg); 
}
.angleSweep:nth-of-type(6){
    transform: rotate(60deg); 
}
.angleSweep:nth-of-type(7){
    transform: rotate(90deg);
}
.angleSweep:nth-of-type(7) span{
    margin-left: -2.2em;
}
.sweep {
    width: 10em;
    margin-right: 10em;
    border-right: solid 1px #4dd85d8e;
    border-radius: 0 0 0 100%;
    /* background: linear-gradient(80deg, rgba(34, 34, 34, 0) 56%, #4dd85e); */
    /* border-radius: 0 0 100% 0; */
    /* margin-left: 5em; */
    /*background: linear-gradient(80deg,  #4dd85e 56%, #22222200);*/
    /* border-left: solid 1px #33995d4d; */
    transition: .1s ease;
    transform: rotate(-90deg); 
}
.panel{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 7.5vh;
    padding:3vh;
    background-color: #000501;
}
.object,.angle,.distance{
    letter-spacing: .15em;
    color: #4dd85e;
    font-size: 1em;
}
.objectStatus,.angleStatus,.distanceStatus{
    display: inline-block;
}
.objectStatus{
    width: 140px;
}
.angleStatus{
    width: 40px;
}
.distanceStatus{
    width: 60px;
}
@media screen and (min-width: 768px){
    .panel{
        height: 8.5vh;
    }
    .startButton, .stopButton{
        position: relative;
        margin-bottom: 0;
        align-self: auto;
    }
    .radar{
        background: repeating-radial-gradient(circle at 50% 85.5vh, #24a533, #24a533 3.5px, #1a1a19 5px, #1a1a19 10%);
    }
    .sweep, .angleSweep, .objectSweep{
        bottom:14.5vh;
    }
    .angleSweep:nth-of-type(1){
        bottom: 14.7vh;
    }
}
@media screen and (min-width: 1024px){
    .panel{
        height: 4.5vh;
    }
    .radar{
        background: repeating-radial-gradient(circle at 50% 89.5vh, #24a533, #24a533 3.5px, #1a1a19 5px, #1a1a19 10%);
    }
    .sweep, .angleSweep, .objectSweep{
        bottom:10.5vh;
    }
    .angleSweep:nth-of-type(1){
        bottom: 10.7vh;
    }
}

@keyframes fade-out {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
body{
    display: grid;
    grid-area: ". name ." "sape char pape" ". date .";
    justify-content: center;
    align-items: center;
    /* grid-template-areas: ; */
    
}

button:nth-of-type(1){
    grid-area: name;
}