@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
body{
    position: relative;
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}
.radar, .sweep { position: relative; }
.radar {
    display: flex;
    justify-content: center;
    width: 100vw; height: 100vh;
  /* background: 
    repeating-radial-gradient(transparent, transparent 23px, #287a33 25px, #287a33 27px), 
    linear-gradient(transparent 49.75%, #0e4c42 49.75%, #0e4c42 50.25%, transparent 50.25%) 50% no-repeat,
    linear-gradient(90deg, transparent 49.75%, #0e4c42 49.75%, #0e4c42 50.25%, transparent 50.25%) 50% no-repeat,
    linear-gradient(#202020, #111); */
    background: repeating-radial-gradient(circle at 50% 65%, #24a533, #24a533 3.5px, #1a1a19 5px, #1a1a19 10%);;
    /* background-size: 100%, 218px 218px, 218px 218px, 100%; */
}
.startButton{
    z-index: 1;
    height: fit-content;
    padding: .5em;
    align-self: flex-end;
    margin-bottom: 2.3em;
    border: none;
    background-color: #4dd85e;
    color: #000501;
    border-radius: 1em;
    font-size: 1em;
    font-weight: bold;
    font-family: 'Kanit', sans-serif;
    outline: none;
    cursor: pointer;
}
.sweep {
    position: absolute;
    bottom: 6em;
    box-sizing: border-box;
    border-radius: 0 0 0 100%;
    border-right: solid 1px #4dd85d8e;
    margin-right: 5em;
    width: 5em;
    /* background: linear-gradient(80deg, rgba(34, 34, 34, 0) 56%, #4dd85e); */
    /* border-radius: 0 0 100% 0; */
    /* margin-left: 5em; */
    /* background: linear-gradient(80deg,  #4dd85e 56%, #22222200); */
    /* border-left: solid 1px #33995d4d; */
    height: 50vw;
    transform-origin: 100% 100%;
    animation: sweep 5s infinite linear;
}

.panel{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 2em;
    padding:.5em;
    background-color: #000501;
}
.object,.angle,.distance{
    letter-spacing: .15em;
    color: #4dd85e;
    font-size: 1em;
}
@media screen and (min-width: 768px){
    .panel{
        height: 2.5em;
        padding-right: 13em;
    }
    .startButton{
        margin-right: -75%;
        margin-bottom: .5em;
    }
}
@media screen and (min-width: 1024px){
    .panel{
        padding-right: 25em;
    }
    .startButton{

    }
}
@media screen and (min-width: 1280px){
    .panel{
        padding-right: 40em;
    }
    .startButton{

    }
}
@keyframes sweep { 
    0% {
        transform: rotate(-90deg); 
    }
    50% { 
        transform: rotate(90deg); 
    }
    100% {
        transform: rotate(-90deg); 
    }

}